/* CSS Document */

.topbar {
	display:none;
}

.page-header {
	display:none;
}

.row div#action_pane{
	display:none;
}

.span13{
	position:relative;
	display:block;
	/*width:80% !important;*/
	
}
.span10{
    width: 100% !important;
}

#mainContent{
    width: 100% !important;
}

.navbar{
    display:none;
}

#action_pane{
    display : none;
}
.mail{
    display: none;
}

#receipt{
	width:80% !important;
}

#print-btn{
	display:none;
}

#scrollable{
	height:auto !important;
}