form {
	display: inline
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	background-color: transparent;
	color: Black;
	margin: 0;
	padding: 0;
	width: 100%
}
div.maindivhide {
	z-index: 10001
}
div.innerdiv {
	background-color: #fff;
	border: 1px solid #666;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.com_div {
	overflow: auto
}
.closebutton {
	height: 12px;
	vertical-align: middle
}
img {
	text-align: center;
	border: 0
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	height: 30px;
	vertical-align: middle;
	text-align: center
}
td.fileinfoleft {
	height: 17px;
	width: 50%;
	text-align: right;
	padding-right: 10px;
	border-right: 1px solid #000;
	white-space: nowrap
}
td.fileinforight {
	height: 17px;
	width: 50%;
	text-align: left;
	padding-left: 10px;
	white-space: nowrap
}
td.fileinfoleftbottom {
	height: 17px;
	width: 50%;
	text-align: right;
	padding-right: 10px;
	border-bottom: 0;
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	white-space: nowrap
}
td.fileinforightbottom {
	height: 17px;
	width: 50%;
	text-align: left;
	padding-left: 10px;
	border-bottom: 0;
	border-top: 1px solid #000;
	white-space: nowrap
}
td.vote {
	height: 20px;
	text-align: center
}
.tdcomment {
	height: 18px
}
.centertable {
	text-align: center;
	vertical-align: middle;
	height: 30px
}
.messagecell {
	text-align: center;
	vertical-align: middle;
	height: 60px;
	padding-left: 5px;
	padding-right: 5px
}
td.left {
	text-align: left;
	vertical-align: middle
}
td.right {
	text-align: right;
	vertical-align: middle
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 65px
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px
}
.wideinput {
	width: 260px
}
textarea {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px
}
.selectbig {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 115px;
	margin-top: 3px
}
.selectmiddle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 85px
}
.buttonok {
	letter-spacing: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	height: 21px;
	width: 40px;
	cursor: pointer;
	text-decoration: none;
	padding-bottom: 3px
}
.buttonemail {
	letter-spacing: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
	height: 20px;
	cursor: pointer;
	text-decoration: none;
	padding-bottom: 2px
}
.sendbutton {
	letter-spacing: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	vertical-align: middle;
	height: 22px;
	cursor: pointer;
	text-decoration: none;
	padding-bottom: 2px;
	margin: 3px
}
.twg_smiliediv {
	position: absolute;
	top: 20px;
	left: 8px;
	width: 69px;
	z-index: 20;
	visibility: hidden;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 0;
	padding: 0;
	cursor: pointer
}
.twg_smiliedivborder {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	height: 110px;
	z-index: 15;
	background-color: transparent;
	visibility: hidden
}
td.twg_smilie {
	text-align: center;
	vertical-align: middle;
	cursor: pointer
}
.twg_smilie_image {
	margin: 1px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer
}
.twg_smiliedivcomment {
	position: absolute;
	top: 90px;
	left: 8px;
	width: 69px;
	z-index: 20;
	visibility: hidden;
	border: 1px solid #ccc;
	background-color: #fff;
	margin: 0;
	padding: 0;
	cursor: pointer
}
.twg_smiliedivbordercomment {
	position: absolute;
	top: 80px;
	left: 0;
	width: 110px;
	height: 110px;
	background-color: transparent;
	z-index: 15;
	visibility: hidden
}
.help {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	color: #bbb;
	padding-right: 10px;
	padding-left: 10px
}
td.twg_kommentar {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: left;
	vertical-align: middle;
	font-size: 10px;
	padding-left: 10px;
	padding-right: 10px
}
.twg_kommentar_date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px
}
.twg_bold {
	font-weight: bold
}
.twg_underlineb {
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
	padding-top: 5px;
	vertical-align: middle;
	width: 90%
}
td.leftsearchbox {
	text-align: left;
	vertical-align: middle;
	height: 18px;
	padding-left: 40px;
	width: 30px
}
td.leftsearchsi {
	text-align: left;
	vertical-align: middle;
	height: 25px;
	padding-left: 35px;
	width: 250px
}
td.leftsearch {
	text-align: left;
	vertical-align: middle;
	height: 18px
}
input.login {
	margin: 3px
}
.noflash {
	padding: 10px;
	margin: 10px;
	border: 1px solid #555;
	background-color: #f8f8f8;
	text-align: center;
	width: 330px
}
.pad {
	padding-left: 5px;
	padding-right: 5px
}
td.html_tags {
	padding-top: 10px;
	color: #999
}
.help_search {
	color: #999;
	font-size: 10px
}
.topx_style_1 {
	font-size: 10px
}
.topx_style_2 {
	font-size: 10px;
	font-weight: bold
}
.topx_style_3 {
	font-size: 14px
}
.topx_style_4 {
	font-size: 14px;
	font-weight: bold
}
.topx_style_5 {
	font-size: 18px
}
.topx_style_pad {
	padding-left: 2px;
	padding-right: 2px
}
.topx_style_pad a {
	text-decoration: none;
	color: #000
}
.topx_style_pad a:hover {
	color: #ec0
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #555
}
.error {
	color: #f00
}

/*!
 * Bootstrap v2.0.4
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input{padding:3px;background-color:#ffffff;border:1px solid #cccccc;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s;}textarea:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="datetime"]:focus,input[type="datetime-local"]:focus,input[type="date"]:focus,input[type="month"]:focus,input[type="time"]:focus,input[type="week"]:focus,input[type="number"]:focus,input[type="email"]:focus,input[type="url"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="color"]:focus,.uneditable-input:focus{border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}

.btn{display:inline-block;*display:inline;*zoom:1;padding:4px 10px 4px;margin-bottom:0;font-size:13px;line-height:18px;*line-height:20px;color:#333333;text-align:center;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);vertical-align:middle;cursor:pointer;background-color:#f5f5f5;background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);background-image:-ms-linear-gradient(top, #ffffff, #e6e6e6);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);background-image:linear-gradient(top, #ffffff, #e6e6e6);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);border:1px solid #cccccc;*border:0;border-bottom-color:#b3b3b3;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;*margin-left:.3em;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);}.btn:hover,.btn:active,.btn.active,.btn.disabled,.btn[disabled]{background-color:#e6e6e6;*background-color:#d9d9d9;}
.btn:active,.btn.active{background-color:#cccccc \9;}
.btn:first-child{*margin-left:0;}
.btn:hover{color:#333333;text-decoration:none;background-color:#e6e6e6;*background-color:#d9d9d9;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-ms-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}
.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-color:#e6e6e6;background-color:#d9d9d9 \9;background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}
.btn.disabled,.btn[disabled]{cursor:default;background-color:#e6e6e6;background-image:none;opacity:0.65;filter:alpha(opacity=65);-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;}
.btn-large{padding:9px 14px;font-size:15px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.btn-large [class^="icon-"]{margin-top:1px;}
.btn-small{padding:5px 9px;font-size:11px;line-height:16px;}
.btn-small [class^="icon-"]{margin-top:-1px;}
.btn-mini{padding:2px 6px;font-size:11px;line-height:14px;}
.btn-primary,.btn-primary:hover,.btn-warning,.btn-warning:hover,.btn-danger,.btn-danger:hover,.btn-success,.btn-success:hover,.btn-info,.btn-info:hover,.btn-inverse,.btn-inverse:hover{color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);}
.btn-primary.active,.btn-warning.active,.btn-danger.active,.btn-success.active,.btn-info.active,.btn-inverse.active{color:rgba(255, 255, 255, 0.75);}
.btn{border-color:#ccc;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);}
.btn-primary{background-color:#0074cc;background-image:-moz-linear-gradient(top, #0088cc, #0055cc);background-image:-ms-linear-gradient(top, #0088cc, #0055cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));background-image:-webkit-linear-gradient(top, #0088cc, #0055cc);background-image:-o-linear-gradient(top, #0088cc, #0055cc);background-image:linear-gradient(top, #0088cc, #0055cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);border-color:#0055cc #0055cc #003580;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0055cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}.btn-primary:hover,.btn-primary:active,.btn-primary.active,.btn-primary.disabled,.btn-primary[disabled]{background-color:#0055cc;*background-color:#004ab3;}
.btn-primary:active,.btn-primary.active{background-color:#004099 \9;}
button.btn,input[type="submit"].btn{*padding-top:2px;*padding-bottom:2px;}button.btn::-moz-focus-inner,input[type="submit"].btn::-moz-focus-inner{padding:0;border:0;}
button.btn.btn-large,input[type="submit"].btn.btn-large{*padding-top:7px;*padding-bottom:7px;}
button.btn.btn-small,input[type="submit"].btn.btn-small{*padding-top:3px;*padding-bottom:3px;}
button.btn.btn-mini,input[type="submit"].btn.btn-mini{*padding-top:1px;*padding-bottom:1px;}


