/*------------------*/
/*	GENERAL
/*------------------------------------------------------*/

/* ----------- Logo ----------- */
#logo {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 225px;
	height: 80px;
}
.site_logo {
	padding: 0px 0px 0px 0px;
	margin: 27px 0px 0px 0px;
	float: left;
}
.site_logo h1 {
	padding: 0px 16px 0px 0px;
	margin: 0px;
	float: left;
	line-height: 27px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 31px;
	color: #0595ad;
	background: url(../images/logo-dots.png) no-repeat right 3px;
}
.site_logo h1 i {
	color: #333;
	font-style: normal;
	font-weight: normal;
	margin-left: 3px;
}


/*------------------*/
/*	SITE STRUCTURE
/*------------------------------------------------------*/

#site_wrapper {
	width: 100%;
	margin: auto auto auto auto;
}
.container_full {
	width: 100%;
	margin: auto auto auto auto;
}
.container {
	width: 1000px;
	margin: auto auto auto auto;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth {
	position: relative;
	margin-right: 3%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48.500%;
}
.one_third {
	width: 31.330%;
}
.one_fourth {
	width: 22.750%;
}
.one_fifth {
	width: 17.600%;
}
.two_third {
	width: 65.660%;
}
.three_fourth {
	width: 74.250%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}


/*------------------*/
/*	MENU
/*------------------------------------------------------*/

#access .menu {
	list-style: none;
	font-weight: normal;
	position: relative;
	float: right;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	width: 775px;
	margin-top: 0px;
	background: url(../images/menu-divedar.png) no-repeat right bottom;
}
#access .menu select {
	border: 2px solid #eee;
	padding: 10px 10px 10px 10px;
	background-color: #f9f9f9;
	color: #333;
}
#access .menu ul {
	margin: 0px;
	list-style-type: none;
	position: relative;
	text-align: left;
	z-index: 1001;
	height: 80px;
	margin: 0;
	float: right;
}
#access .menu ul li {
	position: relative;
	display: inline-block;
	padding: 0;
	z-index: 101;
	margin: 0px 1px 0px 1px;
	float: left;
	background: url(../images/menu-divedar.png) no-repeat left bottom;
}
#access .menu ul li a {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	line-height: 1;
	color: #333;
	margin: 0;
	padding: 35px 20px 30px 20px;
	text-align: center;
	background: url(../images/spacer.gif) no-repeat center top;
}
#access .menu ul li a:hover {
	color: #0595ad;         
	padding: 35px 20px 30px 20px;
} 
#access .menu ul li a.active {
	color: #0595ad;
	padding: 35px 20px 30px 20px;
}

#access .menu ul li ul {
	position: absolute;
	left: 0;
	height: auto;
	display: none;
	visibility: hidden;
	width: 180px;
	padding: 0;
	text-align: left;
	-moz-box-shadow: 2px 2px 2px #666, -2px 2px 2px #666;
	-webkit-box-shadow: 2px 2px 2px #666, -2px 2px 2px #666;
	box-shadow: 2px 2px 2px #666, -2px 2px 2px #666;
}
#access .menu ul li ul li {
	display: list-item;
	float: none;
	background: none;
	padding: 0;
	margin: 0;
	height: auto;
}
#access .menu ul li ul li ul {
	top: 0;
}
#access .menu ul li ul li a {
	margin: 0;
	border: none;
	display: block;
	padding: 13px 12px 13px 12px;
	font-size: 13px;
	color: #fff;
	background: #0595ad url(../images/spacer.gif) no-repeat center bottom;
	width: 156px;
	text-align: left;
	border-top: none;
	border-bottom: 1px solid #0ba8c2;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}
#access .menu ul li ul li a:hover,
#access .menu ul li ul li.active a,
#access .menu ul li ul li a.selected {
	background: #08aeca url(../images/spacer.gif) no-repeat center bottom;
	border-bottom: 1px solid #0ba8c2;
	border-top: none;
	color: #fff;
	padding: 13px 12px 13px 12px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

#access .menu ul li ul li:last-child {
	border: none;
}
* html #access .menu {
	height: 1%;
}

.selectnav {display: none; width: 440px; margin-left: 20px;}

#access .menu ul li ul li a.arrow {
	margin: -8px 0 0 20px;
	border: none;
	display: block;
	padding: 0px;
	width: 16px;
	height: 8px;
	background: url(../images/menu-drop-arrow.png) no-repeat left top;
}
#access .menu ul li ul li a.arrow img {
	position: absolute;
	top: -7px;
	left: 30px;
}


/*------------------*/
/*	PAGES
/*------------------------------------------------------*/

/* top section */
.top_links {
	width: 100%;
	min-height: 40px;
	background-color: #565656;
	font-size: 12px;
	color: #fff;
}
.top_links .social {
	padding: 0px;
	margin: 7px 0px 0px 0px;
	float: left;
}
.top_links .social ul {
	padding: 0px;
	margin: 0px;
	float: left;
}
.top_links .social li {
	padding: 0px;
	margin: 0px;
	float: left;
}
.top_links .social li a {
	padding: 0px;
	margin: 3px 0px 0px 4px;
	width: 18px;
	height: 18px;
	float: left;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	background: url(../images/top-si-bg.png) no-repeat center top;
}
.top_links .social li a:hover {
	background: url(../images/top-si-bg-hover.png) no-repeat center top;
}

.top_links .contact_info {
	padding: 0px;
	margin: 7px 0px 0px 0px;
	float: right;
}
.top_links .contact_info ul {
	padding: 0px;
	margin: 0px;
	float: left;
}
.top_links .contact_info li {
	padding: 0px;
	margin: 0px 0px 0px 10px;
	float: left;
}
.top_links .contact_info li a {
	padding: 0px;
	margin: 0px;
	float: left;
	color: #fff;
}
.top_links .contact_info li a:hover {
	color: #33c92b;
}
.top_links .contact_info li.icons {
	padding: 0px 5px;
	margin-top: 1px;
	float: left;
	background-color: #188512;
	border-radius: 2px;
	font-weight: normal;
}
.top_links .contact_info li.icons img {
	float: left;
	padding: 0px 5px 0px 0px;
}
.top_links .contact_info li.icons a {
	margin-top: 0px;
}

.top_section {
	position: relative;
	padding: 0px;
	margin: 0px 0px 0px 0px;
	height: 80px;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background: #fff url(../images/top-bg.png) repeat-x left top;
}


/* slider area */
.slider_static {
	float: left;
	width: 100%;
	height: 450px;
	background: #108a9e url(../images/slider-bg.jpg) no-repeat center top;
}

.slider_static .left {
	float: left;
	width: 45%;
}

.slider_static .left h1 {
	font-size: 45px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	margin-top: 50px;
	margin-bottom: 17px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.slider_static .left h1 i {
	font-size: 22px;
	font-weight: normal;
	font-style: normal;
	color: #fff;
	display: block;
	margin-top: 13px;
	text-transform: uppercase;
}

.slider_static .left ul {
	float: left;
	padding: 0px;
	margin: 0px 0px 22px 0px;
}
.slider_static .left li {
	padding: 0px 0px 0px 22px;
	margin: 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	line-height: 30px;
	letter-spacing: 0.3px;
	background: url(../images/arrow-01.png) no-repeat left 10px;
}

.slider_static .right {
	float: left;
	width: 55%;
}

.slider_static .right .offer_box {
	float: left;
	width: 310px;
	height: 450px;
	background: #cde8ec url(../images/offer-box-bg.png) no-repeat center 5px;
	font-family: 'Oswald', sans-serif;
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.slider_static .right .offer_box .save_big {
	float: left;
	width: 102px;
	height: 92px;
	padding-top: 10px;
	line-height: 25px;
	background: #d2eaee url(../images/save-big-bg.png) no-repeat center 4px;
	border-radius: 55px;
	text-align: center;
	position: absolute;
	margin-top: 245px;
	margin-left: -80px;
	color: #333;
	text-transform: uppercase;
	font-size: 13px;
}
.slider_static .right .offer_box .save_big i {
	color: #0595ad;
	font-size: 35px;
	font-style: normal;
	padding: 4px 0px;
	margin: 0px;
	display: block;
}


.slider_static .right .offer_box .title {
	float: left;
	width: 100%;
	height: 62px;
	line-height: 62px;
	vertical-align: middle;
	font-weight: normal;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/offer-box-title.png) no-repeat center top;
}
.slider_static .right .offer_box .price {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.slider_static .right .offer_box .price .one {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	color: #38dd2f;
	font-weight: normal;
	width: 37%;
	float: left;
	text-align: right;
}
.slider_static .right .offer_box .price .two {
	padding: 0px;
	margin: 10px 0px 0px 0px;
	font-size: 72px;
	color: #38dd2f;
	font-weight: bold;
	width: 14%;
	float: left;
	text-align: center;
}
.slider_static .right .offer_box .price .three {
	padding: 0px;
	margin: 0px;
	font-size: 40px;
	color: #38dd2f;
	font-weight: normal;
	width: 49%;
	float: left;
	text-align: left;
}
.slider_static .right .offer_box .price .three i {
	font-size: 14px;
	color: #565656;
	text-transform: uppercase;
	font-style: normal;
	display: block;
	margin: 13px 0px 0px 4px;
}

.slider_static .right .offer_box .small_text {
	float: left;
	width: 100%;
	font-size: 12px;
	color: #666;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0px;
	background: url(../images/h-line-01.png) no-repeat center bottom;
}
.slider_static .right .offer_box .small_text_two {
	float: left;
	width: 100%;
	font-size: 14px;
	color: #0595ad;
	text-transform: uppercase;
	text-align: center;
	padding: 20px 0px;
}

.slider_static .right .offer_box .button_big_01 {
	float: left;
	width: 80%;
	margin: 5px 0px 0px 30px;
	padding: 18px 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 22px;
	color: #fff;
	text-transform: uppercase;
	background: #33c92b;
	border-bottom: 5px solid #2db126;
	border-radius: 4px;
	text-align: center;
}
.slider_static .right .offer_box .button_big_01:hover {
	color: #fff;
	background: #454545;
	border-bottom: 5px solid #333;
}

.slider_static .right .slider_image {
	float: right;
	width: 207px;
	height: 450px;
	background: url(../images/slider-img.png) no-repeat right bottom;
	background-size: 100%;
}


.slider_button1 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
	float: left;
	padding: 0px;
	width: 130px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
	line-height: 46px;
	background: url(../images/sbut-01.png) no-repeat center top;
}
.slider_button1:hover {
	color: #999;
}

.slider_button2 {
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
	float: left;
	padding: 0px;
	width: 130px;
	height: 46px;
	text-align: center;
	vertical-align: middle;
	line-height: 46px;
	background: url(../images/sbut-02.png) no-repeat center top;
}
.slider_button2:hover {
	color: #fff;
}


/* punch text */
.puntch_text {
	float: left;
	width: 100%;
	padding: 25px 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	line-height: 25px;
	text-transform: uppercase;
	text-align: center;
	background: #333 url(../images/shadow-01.png) repeat-x left top;
}

/* gray full bgs */
.gray_full_bg {
	float: left;
	width: 100%;
	background: #fafafa url(../images/gray-full-bg.jpg) repeat-x left top;
}
.gray_full_bg2 {
	float: left;
	width: 100%;
	padding: 35px 0px;
	background-color: #eee;
}

/* hosting plans */
.hosting_plans {
	float: left;
	width: 100%;
	padding: 35px 0px;
}
.hosting_plans .plan_one {
	float: left;
	width: 235px;
	padding-bottom: 22px;
	border-radius: 5px;
	border: 1px solid #eee;
	border-top: none;
	background-color: #fff;
	margin-right: 17px;
}
.hosting_plans .plan_one .title {
	float: left;
	width: 235px;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url(../images/dark-gray-bg.jpg) repeat-x left top;
}
.hosting_plans .plan_one .price {
	float: left;
	width: 235px;
	height: 62px;
	padding-top: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 31px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/host-plan-price-bg1.png) no-repeat center top;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_one .price i {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	display: block;
	margin-top: 4px;
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_one ul {
	float: left;
	padding: 0px;
	margin: 25px 0px 20px 0px;
}
.hosting_plans .plan_one li {
	padding: 0px 0px 0px 47px;
	margin: 0px;
	line-height: 28px;
	background: url(../images/arrow-02.png) no-repeat 30px 10px;
	border-bottom: 1px solid #f6f6f6;
}
.hosting_plans .plan_one .signup_but {
	padding: 0px;
	margin: 0px;
	float: left;
}
.hosting_plans .plan_one .signup_but a {
	padding: 0px;
	margin: 0px 0px 0px 61px;
	float: left;
	width: 110px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	letter-spacing: 0.5px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background: url(../images/but-bg-01.png) no-repeat center top;
}
.hosting_plans .plan_one .signup_but a:hover {
	color: #fff;
	background: url(../images/but-bg-05.png) no-repeat center top;
}

.hosting_plans .plan_two {
	float: left;
	width: 235px;
	padding-bottom: 22px;
	border-radius: 5px;
	border: 1px solid #eee;
	border-top: none;
	background-color: #fff;
	margin-right: 17px;
}
.hosting_plans .plan_two .title {
	float: left;
	width: 235px;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url(../images/dark-gray-bg.jpg) repeat-x left top;
}
.hosting_plans .plan_two .price {
	float: left;
	width: 235px;
	height: 62px;
	padding-top: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 31px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/host-plan-price-bg2.png) no-repeat center top;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_two .price i {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	display: block;
	margin-top: 4px;
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_two ul {
	float: left;
	padding: 0px;
	margin: 25px 0px 20px 0px;
}
.hosting_plans .plan_two li {
	padding: 0px 0px 0px 47px;
	margin: 0px;
	line-height: 28px;
	background: url(../images/arrow-03.png) no-repeat 30px 10px;
	border-bottom: 1px solid #f6f6f6;
}
.hosting_plans .plan_two .signup_but {
	padding: 0px;
	margin: 0px;
	float: left;
}
.hosting_plans .plan_two .signup_but a {
	padding: 0px;
	margin: 0px 0px 0px 61px;
	float: left;
	width: 110px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	letter-spacing: 0.5px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background: url(../images/but-bg-02.png) no-repeat center top;
}
.hosting_plans .plan_two .signup_but a:hover {
	color: #fff;
	background: url(../images/but-bg-05.png) no-repeat center top;
}

.hosting_plans .helight_this {
	float: left;
	padding: 14px 0px 0px 0px;
	margin: 2px 0px 0px 179px;
	width: 55px;
	height: 41px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
	text-align: center;
	line-height: 13px;
	position: absolute;
	background: url(../images/helight-icon.png) no-repeat center top;
}

.hosting_plans .plan_three {
	float: left;
	width: 235px;
	padding-bottom: 22px;
	border-radius: 5px;
	border: 1px solid #eee;
	border-top: none;
	background-color: #fff;
	margin-right: 18px;
}
.hosting_plans .plan_three .title {
	float: left;
	width: 235px;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url(../images/dark-gray-bg.jpg) repeat-x left top;
}
.hosting_plans .plan_three .price {
	float: left;
	width: 235px;
	height: 62px;
	padding-top: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 31px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/host-plan-price-bg3.png) no-repeat center top;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_three .price i {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	display: block;
	margin-top: 4px;
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_three ul {
	float: left;
	padding: 0px;
	margin: 25px 0px 20px 0px;
}
.hosting_plans .plan_three li {
	padding: 0px 0px 0px 47px;
	margin: 0px;
	line-height: 28px;
	background: url(../images/arrow-04.png) no-repeat 30px 10px;
	border-bottom: 1px solid #f6f6f6;
}
.hosting_plans .plan_three .signup_but {
	padding: 0px;
	margin: 0px;
	float: left;
}
.hosting_plans .plan_three .signup_but a {
	padding: 0px;
	margin: 0px 0px 0px 61px;
	float: left;
	width: 110px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	letter-spacing: 0.5px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background: url(../images/but-bg-03.png) no-repeat center top;
}
.hosting_plans .plan_three .signup_but a:hover {
	color: #fff;
	background: url(../images/but-bg-05.png) no-repeat center top;
}

.hosting_plans .plan_four {
	float: left;
	width: 235px;
	padding-bottom: 22px;
	border-radius: 5px;
	border: 1px solid #eee;
	border-top: none;
	background-color: #fff;
}
.hosting_plans .plan_four .title {
	float: left;
	width: 235px;
	height: 45px;
	line-height: 45px;
	vertical-align: middle;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: url(../images/dark-gray-bg.jpg) repeat-x left top;
}
.hosting_plans .plan_four .price {
	float: left;
	width: 235px;
	height: 62px;
	padding-top: 18px;
	font-family: 'Oswald', sans-serif;
	font-weight: bold;
	font-size: 31px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background: url(../images/host-plan-price-bg4.png) no-repeat center top;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_four .price i {
	font-size: 11px;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	display: block;
	margin-top: 4px;
	text-transform: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
.hosting_plans .plan_four ul {
	float: left;
	padding: 0px;
	margin: 25px 0px 20px 0px;
}
.hosting_plans .plan_four li {
	padding: 0px 0px 0px 47px;
	margin: 0px;
	line-height: 28px;
	background: url(../images/arrow-05.png) no-repeat 30px 10px;
	border-bottom: 1px solid #f6f6f6;
}
.hosting_plans .plan_four .signup_but {
	padding: 0px;
	margin: 0px;
	float: left;
}
.hosting_plans .plan_four .signup_but a {
	padding: 0px;
	margin: 0px 0px 0px 61px;
	float: left;
	width: 110px;
	height: 36px;
	line-height: 36px;
	vertical-align: middle;
	letter-spacing: 0.5px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background: url(../images/but-bg-04.png) no-repeat center top;
}
.hosting_plans .plan_four .signup_but a:hover {
	color: #fff;
	background: url(../images/but-bg-05.png) no-repeat center top;
}


.waves_graph {
	float: left;
	width: 100%;
	height: 7px;
	background: #fafafa url(../images/waves-graph.png) repeat-x left top;
}

.white_bobox {
	float: left;
	width: 87%;
	padding: 25px 20px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background-color: #fff;
}
.white_bobox2 {
	float: left;
	width: 87%;
	padding: 25px 20px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background: #fff url(../images/site-img-01.png) no-repeat right bottom;
}
.white_bobox3 {
	float: left;
	width: 87%;
	padding: 19px 20px;
	border: 1px solid #dcdcdc;
	border-radius: 5px;
	background-color: #fff;
}



/* whats included */
ul.whats_included_list {
	float: left;
	padding: 0px;
	margin: -5px 0px 0px 0px;
}
.whats_included_list li {
	padding: 0px;
	margin: 0px;
	line-height: 34px;
	font-size: 14px;
	color: #454545;
}
.whats_included_list li img {
	padding: 0px;
	margin: 5px 13px 0px 0px;
	float: left;
	background-color: #58adbb;
	border-radius: 13px;
	font-weight: 600;
}

/* why choose us */
ul.chooseus_list {
	float: left;
	padding: 0px;
	margin: -5px 0px 0px 0px;
}
.chooseus_list li {
	padding: 0px 0px 0px 25px;
	margin: 0px;
	line-height: 34px;
	font-size: 14px;
	color: #454545;
	background: url(../images/tickmark.png) no-repeat left 11px;
}

/* need website */
.need_website {
	float: left;
	width: 100%;
	margin: 35px 0px 28px 0px;
}
.need_website .image_area {
	float: left;
	width: 40%;
}
.need_website .cont_area {
	float: left;
	width: 60%;
}
.need_website .cont_area strong {
	color: #454545;
	display: block;
	margin-bottom: 13px;
}

.need_website .cont_area ul.dot_list {
	margin-bottom: 20px;
}
.need_website .cont_area .dot_list li {
	color: #666;
}

/* what peopel say's */
.what_people_says {
	float: left;
	width: 100%;
	height: 250px;
	margin: 35px 0px;
	color: #fff;
}

/* free install scripts */
.install_scripts {
	float: left;
	width: 100%;
	height: 80px;
	padding: 0px;
	background: #eee url(../images/shadow-02.png) repeat-x left top;
}
.install_scripts h4 {
	float: left;
	margin: 0px;
	width: 155px;
	height: 60px;
	padding-top: 20px;
	line-height: 20px;
	background: url(../images/line-arrow.png) no-repeat right top;
}
.install_scripts ul {
	float: left;
	padding: 0px;
	margin: 18px 0px 0px 40px;
}
.install_scripts li {
	float: left;
	padding: 0px;
	margin: 0px 25px 0px 0px;
}

/* footer */
.footer {
	float: left;
	width: 100%;
	background: url(../images/footer-bg.jpg) repeat left top;
}
.footer .footer_center {
	float: left;
	width: 100%;
	color: #999;
	background: url(../images/shadow-03.png) repeat-x left top;
}
.footer .footer_center .one_fourth {
	padding: 35px 0px 32px 0px;
	background: url(../images/v-shadow.png) repeat-y right top;
}
.footer .footer_center .one_fourth.last {
	background: none;
}

.footer .footer_center h3 {
	color: #f0f0f0;
}

.footer_center ul.list {
	padding: 0px;
	margin: 0;
}
.footer_center .list li {
	padding: 5px 0 0 14px;
	margin: 0;
	background: url(../images/arrow-06.png) no-repeat left 12px;
}
.footer_center .list li a {
	color: #999999;
}
.footer_center .list li a:hover {
	color: #eee;
}


.footer_center ul.recent_blogs  {
	padding: 12px 0px 0 0px;
	margin: 0;
}
.footer_center .recent_blogs li {
	padding: 0px 0 12px 0px;
	margin: 0px 0px 12px 0px;
	float: left;
	border-bottom: 1px solid #333;
}
.footer_center .recent_blogs li.last {
	margin: 0px 0px 0px 0px;
	border-bottom: none;
}
.footer_center .recent_blogs li img {
	border: 3px solid #146d0f;
}
.footer_center .recent_blogs li a {
	color: #999;
}
.footer_center .recent_blogs li a:hover {
	color: #eee;
}
.footer_center .recent_blogs li i {
	font-size: 11px;
	line-height: 16px;
	float: left;
	margin-top: 2px;
	font-style: normal;
	color: #727272;
}
.footer_center .recent_blogs li p {
	margin: -5px 0px 0px 0px;
}

.footer .footer_center .any_questions {
	float: left;
	padding: 20px 10px 18px 20px;
	margin: 5px 0 0 0;
	min-width: 188px;
	min-height: 88px;
	background-color: #146d0f;
	border-radius: 5px;
	color: #fff;
}
.footer .footer_center .any_questions p {
	line-height: 18px;
}
.footer .footer_center .any_questions h3 {
	color: #fff;
	letter-spacing: 1px;
	margin: 0px;
}
.footer .footer_center .any_questions h3 i {
	color: #fff;
	text-transform: none;
	font-size: 14px;
	font-style: normal;
}

.footer .footer_center .live_chat {
	float: left;
	padding: 20px 10px 18px 20px;
	margin: 20px 0 0 0;
	min-width: 188px;
	background-color: #146d0f;
	border-radius: 5px;
}
.footer .footer_center .live_chat a {
	font-size: 27px;
	color: #2fd426;
	line-height: 22px;
}
.footer .footer_center .live_chat h2 {
	font-size: 27px;
	color: #fff;
	line-height: 22px;
	margin: 0px;
}
.footer .footer_center .live_chat h2 i {
	font-size: 14px;
	color: #fff;
	font-style: normal;
}
.footer .footer_center .live_chat a:hover {
	color: #fff;
}

.footer .footer_center .footersection_two {
	float: left;
	width: 100%;
	height: 65px;
	padding: 25px 0px 0px 0px;
	background: url(../images/opacity-bg.png) repeat left top;
}

.footer .newsletter {
	float: left;
	width: 100%;
}
.footer .newsletter h4 {
	float: left;
	width: 75px;
	color: #f0f0f0;
	margin: 0px;
	line-height: 20px;
}
.footer .newsletter input.enter_email_input {
	float: left;
	padding: 3px 0px 0px 10px;
	height: 30px;
	width: 230px;
	margin: 5px 0 0 20px;
	background-color: #272727;
	border: 1px solid #444;
	color: #727272;
	font-size: 11px;
}
.footer .newsletter .input_submit {
	float: left;
	padding: 8px 10px;
	margin: 5px 0 0 5px;
	background-color: #146d0f;
	border: 0px;
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: normal;
	color: #fff;
	letter-spacing: 1px;
}
.footer .newsletter .input_submit:hover {
	color: #333;
	cursor: pointer;
	background-color: #fff;
}

.footer .payments_accept {
	float: left;
	width: 100%;
}
.footer .payments_accept h4 {
	float: left;
	width: 75px;
	color: #f0f0f0;
	margin: 0px;
	line-height: 20px;
}
.footer .payments_accept ul.paymetns_logos {
	float: left;
	padding: 0px;
	margin: 0px;
}
.footer .payments_accept .paymetns_logos li {
	float: left;
	padding: 0px;
	margin: 0px 6px;
}


/* copyrights */
.copyright_info {
	float: left;
	width: 100%;
	padding: 30px 0px 25px 0px;
	margin: 0px 0px 0px 0px;
	width: 100%;
	color: #666;
	background: #303030 url(../images/h-dotted-lines.png) repeat-x left top;
	font-size: 12px;
}
.copyright_info span {
	float: right;
}
.copyright_info a {
	margin-top: 10px;
	font-size: 12px;
	color: #666;
	text-align: right;
}
.copyright_info a:hover {
	color: #999;
}

.ad_banner_big {
	float: left;
	width: 100%;
}

/*------------------*/
/*	CONTENT
/*------------------------------------------------------*/
.content_left {
	float: left;
	width: 74%;
	padding: 40px 0px 30px 0px;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 40px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 22%;
	padding: 40px 0px 30px 0px;
}
.left_sidebar {
	float: left;
	width: 22%;
	padding: 40px 0px 30px 0px;
}
.content_right {
	float: right;
	width: 74%;
	padding: 40px 0px 30px 0px;
}

/* page title */
.page_title {
	width: 100%;
	min-height: 50px;
	padding-top: 20px;
	background: #eee;
	margin: 0px 0px 0px 0px;
}
.page_title .leaft_title {
	width: 68%;
	display: block;
	float: left;
	text-align: left;
	margin: 0px 0 0 0px;
}
.page_title .leaft_title h1 { 
	font-size: 22px;
	line-height: 30px;
	color: #727272;
	font-weight: normal;
	text-transform: uppercase;
}
.page_title .reght_pagenation {
	float: right;
	width: 28%;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-align: right;
	color: #727272;
	margin: 0px 0 0 0px;
	padding: 4px 0 0px 0px;
}
.page_title .reght_pagenation i {
	color: #999;
	margin: 0px 2px 0px 2px;
}
.page_title .reght_pagenation a {
	padding: 0px 0px 0px 0px;
	color: #999;
}
.page_title .reght_pagenation a:hover {
	color: #727272;
}

/* hosting plan */
.hosting_page_plan_main {
	position: relative;
	float: left;
}
.hosting_page_plan.first {
	position: relative;
	float: left;
	width: 39.4%;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
}
.hosting_page_plan.first .title {
	float: left;
	width: 100%;
	height: 27px;
	padding: 13px 0 10px 0;
	background: #666 url(../images/gray-bg.jpg) repeat left top;
	text-align: center;
	font-size: 20px;
	color: #fff;
	border-top: 3px solid #575757;
	border-bottom: 1px solid #000;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.hosting_page_plan {
	position: relative;
	float: left;
	width: 20%;
	border-right: 1px solid #eee;
}
.hosting_page_plan .title {
	float: left;
	width: 100%;
	height: 27px;
	padding: 13px 0 10px 0;
	background: #666 url(../images/gray-bg.jpg) repeat left top;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border-top: 3px solid #575757;
	border-bottom: 1px solid #818181;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
.hosting_page_plan .price {
	float: left;
	width: 100%;
	padding: 0 0 10px 0;
	text-align: center;
	font-size: 30px;
	color: #3da5b6;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
}
.hosting_page_plan .price i {
	font-size: 14px;
	color: #3da5b6;
	font-weight: normal;
	font-style: normal;
	margin-top: 5px;
}
.hosting_page_plan .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: #fff;
	text-align: center;
	color: #727272;
}
.hosting_page_plan .cont-list ul {
	margin: 0;
	padding: 0;
}
.hosting_page_plan .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #eee;
}
.hosting_page_plan .cont-list li.last {
	border: none;
}
.hosting_page_plan .ordernow {
	float: left;
	width: 100%;
	height: 90px;
	padding: 18px 0 0px 0;
	background-color: #f9f9f9;
	border-bottom: 1px solid #eee;
	text-align: center;
	color: #fff;
}
.hosting_page_plan .ordernow h4 {
	padding: 30px 0px 0px 0px;
	text-align: center;
	color: #0595ad;
}

/* our team */
.our_team_box {
	width: 100%;
	float: left;
}
.our_team_box ul {
	margin: 0;
	padding: 7px 0 0 0px;
	float: left;
	width: 170px;
}
.our_team_box li {
	margin: 0;
	padding: 0;
	line-height: 18px;
	list-style-type: none;
	color: #a9a9a9;
}
.our_team_box li a {
	margin: 7px 5px 0 0;
	padding: 0;
	float: left;
}
.our_team_box  img.teammempic {
	width: 90%;
	margin: 0px;
	padding: 0;
	border: 5px solid #f3f3f3;
}
.our_team_box  img.teammempic:hover {
	width: 90%;
	margin: 0px;
	padding: 0;
	border: 5px solid #e3e3e3;
}
.our_team_box li a img:hover {
	margin: 0px;
	padding: 0;
	opacity: 0.7;
	filter: alpha(opacity=10);
}
.our_team_box li strong {
	font-size: 13px;
	color: #454545;
	display: block;
}
.our_team_box li strong i {
	color: #999;
	font-size: 11px;
	font-style: normal;
}
.our_team_box .boxleft {
	width: 170px;
	float: left;
	margin: 0px 20px 0 0;
}
.our_team_box .cont-area {
	float: left;
	font-size: 10px;
	color: #727272;
	width: 100%;
	margin-bottom: 10px;
}

.our_team_box .boxright {
	width: 170px;
	float: right;
	margin: 0px;
}

/* our products */
.our_products {
	width: 100%;
	float: left;
}
.our_products ul {
	width: 100%;
	float: left;
	padding: 0px;
	margin: -20px 0px 0px 0px;
}
.our_products li {
	width: 47.8%;
	float: left;
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.our_products li h5 {
	font-size: 16px;
	color: #3da5b6;
	margin-top: 7px;
	margin-bottom: 10px;
}
.our_products li h3 {
	color: #3da5b6;
	margin-top: 10px;
	margin-bottom: 10px;
}
.our_products li.last {
	width: 47.8%;
	float: left;
	margin-top: 20px;
}


/* portfolio single image */
.portfolio_area {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
}
.portfolio_area_left {
	padding: 0px;
	margin: 0px;
	width: 75%;
	float: left;
}
.portfolio_area_left img {
	padding: 0px;
	margin: 0px;
	width: 100%;
	float: left;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.portfolio_area_right {
	padding: 0px;
	margin: 0px 0px 0px 3%;
	width: 22%;
	float: left;
}
.project_details {
	padding: 0px;
	margin: 40px 0px 0px 0px;
}
.project_details span {
	padding: 5px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	font-weight: bold;
	color: #454545;
	float: left;
	width: 100%;
	border-bottom: 1px solid #e3e3e3;
}
.project_details strong {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	color: #727272;
	float: left;
	width: 40%;
}
.project_details i {
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	float: left;
	width: 60%;
}
.project_details span a {
	padding: 3px 10px;
	margin: 0px 0px 0px 3px;
	font-size: 11px;
	line-height: 30px;
	font-weight: normal;
	font-style: normal;
	color: #727272;
	background-color: #e3e3e3;
	border-radius:3px;
}
.project_details span a:hover {
	background-color: #ddd;
}
.addto_favorites {
	padding: 3px 10px 5px 30px;
	margin: 20px 0px 0px 0px;
	width: 115px;
	display: block;
	border-radius:3px;
	font-size: 13px;
	color: #999;
	background: #e3e3e3 url(../images/elements/icon-heart.png) no-repeat 10px 10px;
}
.addto_favorites:hover {
	background: #ddd url(../images/elements/icon-heart.png) no-repeat 10px 10px;
}

ul.small_social_links {
	padding: 0px;
	margin: 9px 0 25px 0px;
}
.small_social_links li {
	padding: 0px;
	margin: 0px 9px 0px 0px;
	float: left;
	width: 18px;
	height: 18px;
}
.small_social_links li a {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.small_social_links li a:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

.portfolio_image {
	float: left;
	width: 98%;
	padding: 0px;
	margin: 0px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}
.portfolio_image .title {
	float: left;
	width: 92%;
	padding: 10px 19px 7px 20px;
	margin: 0px;
	font-size: 13px;
	color: #333;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}
.portfolio_image img {
	float: left;
	width: 100%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.portfolio_image img:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}

/* blog */
.blog_post {
	float: left;
	width: 100%;
}
.blog_post h3 {
	float: left;
	font-size: 20px;
	text-align: left;
	text-transform: none;
	font-weight: normal;
	color: #454545;
	width: 85%;
	line-height: 25px;
}
.blog_post h3 a {
	color: #454545;
	text-decoration: none;
	float: left;
	margin-top: 3px;
	text-transform: none;
}
.blog_post h3 a:hover {
	color: #3da5b6;
	text-decoration: none;
	float: left;
	margin-top: 3px;
}
.post_info_content {
	padding: 0px;
	margin: -5px 0 0 13%;
	width: 87%;
	float: left;
}
ul.post_meta_links {
	float: left;
	margin: -12px 0px 0px -6px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links li {
	float: left;
	margin: 0px;
	padding: 0px 0px 0px 4px;
	list-style-type: none;
	color: #999;
}
.post_meta_links li.post_by {
	padding: 0px 0px 0px 25px;
	background: url(../images/blog/icon-by-user.png) no-repeat 5px 5px;
}
.post_meta_links li.post_categoty {
	padding: 0px 0px 0px 22px;
	background: url(../images/blog/icon-category.png) no-repeat 2px 6px;
}
.post_meta_links li.post_comments {
	padding: 0px 0px 0px 22px;
	background: url(../images/blog/icon-comments.png) no-repeat 2px 5px;
}
.post_meta_links li a {
	color: #a1a1a1;
	padding: 0px 18px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links li a:hover {
	color: #727272;
	text-decoration: none;
}
.blog_postcontent {
	float: left;
	width: 100%;
}
.blog_postcontent .image_frame {
	float: left;
	width: 98%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
}
.blog_postcontent .video_frame iframe {
	float: left;
	width: 98%;
	height: 300px;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .video_frame iframe:hover {
	border: 7px solid #f9f9f9;
}

/* blog small */
.blog_post h3 {
	width: 74%;
}
.blog_postcontent .image_frame.small {
	float: left;
	width: 43%;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .image_frame.small:hover {
	border: 7px solid #f9f9f9;
}
.blog_postcontent .image_frame img {
	float: left;
	width: 99.7%;
	border: 1px solid #fff;
}
.blog_postcontent .video_frame.small iframe {
	float: left;
	width: 43%;
	height: 140px;
	border: 7px solid #fff;
	margin-bottom: 25px;
	-webkit-box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 3px 0px rgba(0, 0, 0, 0.1);
}
.blog_postcontent .video_frame iframe:hover {
	border: 7px solid #f9f9f9;
}
.post_info_content_small {
	padding: 0px;
	margin: 0 0 0 4%;
	width: 50%;
	float: left;
}
ul.post_meta_links_small {
	float: left;
	margin: -15px 0px 12px 80px;
	padding: 0px 0px 0px 0px;
	width: 80%;
}
.post_meta_links_small li.post_by {
	float: left;
	padding: 0px 0px 0px 18px;
	background: url(../images/blog/icon-by-user.png) no-repeat 0px 5px;
}
.post_meta_links_small li.post_categoty {
	float: left;
	padding: 0px 0px 0px 26px;
	background: url(../images/blog/icon-category.png) no-repeat 9px 6px;
}
.post_meta_links_small li.post_comments {
	float: left;
	padding: 0px 0px 0px 26px;
	background: url(../images/blog/icon-comments.png) no-repeat 9px 5px;
}
.post_meta_links_small li a {
	color: #a1a1a1;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.post_meta_links_small li a:hover {
	color: #727272;
	padding: 0px 5px 0px 0px;
	text-decoration: none;
	font-size: 11px;
}
.blog_post a.date {
	padding: 10px 5px 0px 0px;
	text-decoration: none;
	width: 55px;
	height: 55px;
	text-align: center;
	background: #fefefe;
	display: block;
	margin-right: 20px;
	float: left;
	-webkit-box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 2px 0px rgba(0, 0, 0, 0.1);
}
.blog_post a.date strong {
	color: #3da5b6;
	font-size: 27px;
	font-weight: normal;
	display: block;
	margin-bottom: 10px;
}
.blog_post a.date i {
	color: #fff;
	font-size: 11px;
	font-style: normal;
	padding: 0px 10px;
	display: block;
	border-top: 1px solid #f3f3f3;
	width: 40px;
	background-color: #3da5b6;
}
.post_readmore:link, .post_readmore:visited {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore.jpg) no-repeat left top;
}
.post_readmore:hover {
	float: right;
	height: 27px;
	width: 185px;
	text-align: center;
	padding-top: 7px;
	color: #fff;
	text-decoration: none;
	background: url(../images/skin01/but_post_readmore_hover.jpg) no-repeat left top;
}
.sharepost {
	float: left;
	width: 80%;
	margin-bottom: 30px;
}
.sharepost ul {
	margin: 0px;
	padding: 0px;
}
.sharepost li {
	margin: 0px;
	padding: 0 9px 0 0;
	float: left;
	list-style-type: none;
}

.about_author {
	float: left;
	width: 93%;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #eee;
}

.about_author img {
	float: left;
	margin-right: 20px;
}
.about_author a {
	color: #3da5b6;
}
.about_author a:hover {
	color: #454545;
}


/* pagination */
.pagination {
	clear:both;
	padding:10px 0;
	margin-bottom:20px;
	font-family: 'Open Sans', sans-serif;
}
.pagination b{
	float:left;
	margin: 0px 5px 2px 0;
	padding:0px 10px;
	font-weight: normal;
	color: #999;
}
.pagination a.navlinks {
	font-size: 12px;
	color: #454545;
	background-color: #eee;
	font-weight: 600;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 3px;
}
.pagination a.navlinks:hover {
	color: #fff;
	background-color: #454545;
}
.pagination a.current {
	color: #fff;
	background-color: #454545;
}



/* comment form */
.comment_form {
	float: left;
	width: 90%;
	margin-top: 30px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.comment_input_bg {
	float: left;
	width: 70%;
	height: 25px;
	padding: 7px 10px 0px 10px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e3e3e3;
	border-left: 2px solid #e3e3e3;
	border-right: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.comment_checkbox {
	float: left;
	display: block;
	width: 90%;
	margin-top: 10px;
}
.comment_submit {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 9px 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	border-radius: 4px;
	color: #333;
}
.comment_submit:hover {
	background-color: #f9f9f9;
	cursor: pointer;
}


/* comments */
.comment_wrap{
	padding:20px 20px 20px 0px;
	overflow:hidden;
	border-bottom:1px solid #eee;
}
.comment_wrap.chaild{
	border-bottom:1px solid #eee;
	margin:10px 20px 10px 50px;
	overflow:hidden;
}
.gravatar{
	float:left;
}

.comment_content{
	overflow:hidden;
	padding-left:20px;
	position:relative;
	min-height:80px; 
}
.comment_content .comment_meta{
	position:relative;
}
.comment_content .comment_meta .comment_author{
	display:inline;
	font-size:14px;
	font-style: normal;
}
.comment_content .comment_meta .comment_author i{
	display:inline;
	font-size:11px;
	font-style: italic;
}
.comment_content .comment_text {
	clear:both;
	padding-top:0px;
	overflow:hidden;
}
.comment_content .comment_text a {
	color: #d3d3d3;
	margin-top: 5px;
	float: left;
}
.comment_content .comment_text a:hover {
	color: #727272;
	margin-top: 5px;
	float: left;
}
#comments_section li ul li{
	margin-left: 30px;
}

/* ---------- contact form ---------- */
.comment_form {
	float: left;
	width: 690px;
	margin-top: 30px;
}
.blocklabel {
	float: left;
	width: 100%;
	display: block;
	margin-top: 10px;
}
.comment_form label{
	float: left;
	width: 90px;
	height: 15px;
	padding: 7px 10px;
	margin-bottom: 20px;
}
.input_bg {
	float: left;
	width: 70%;
	height: 32px;
	line-height: 32px;
	vertical-align: middle;
	padding: 0px 0px 0px 10px;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}
.textarea_bg {
	float: left;
	width: 90%;
	height: 235px;
	padding: 7px 10px 0px 10px;
	margin-bottom: 20px;
	border-top: 2px solid #e1e1e1;
	border-left: 2px solid #e1e1e1;
	border-right: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #f9f9f9;
}

/* our support */
.our_support {
	width: 41%;
	padding: 10px 20px 10px 20px;
	float: left;
	border-radius: 5px;
	border: 5px solid #f9f9f9;
}
.our_support.last {
	padding: 10px 20px 10px 20px;
	float: right;
}
.our_support h3 {
	color: #272727;
	border-bottom: 1px solid #eee;
	padding: 5px 0px;
	margin-bottom: 20px;
}
.our_support h5 {
	color: #3da5b6;
	margin-bottom: 3px;
}
.our_support h5 img {
	margin-right: 10px;
	float: left;
}
.our_support a {
	color: #454545;
}

.address-info {
	float: left;
	background-color: #f9f9f9;
	border: 1px solid #e1e1e1;
	padding: 20px 20px 10px 20px;
	width: 90%;
	margin-bottom: 40px;
}
.address-info a {
	color: #3da5b6;
}
.address-info a:hover {
	color: #454545;
}

.google-map {
	width: 99%;
	height: 350px;
	border: 5px solid #fff;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}


/*------------------*/
/*	RIGHT SIDEBAR
/*------------------------------------------------------*/

/* site search */
.site-search-area {
	margin: 0px;
	padding: 0px;
}
#site-searchform {
	margin: 0;
	padding: 0;
}
#site-searchform #s{
	border: 1px solid #eee;
	background-color: #fff;
	width: 67%;
	height:30px;
	padding:5px 10px 0px 10px;
	color: #999;
	float: left;
	font: normal 12px 'Open Sans', sans-serif;
}
#site-searchform #searchsubmit{
	float: left;
	width:50px;
	height:36px;
	cursor:pointer;
	text-indent:-5555em;
	line-height:100;
	overflow:hidden;
	background: #3da5b6 url(../images/site-search-icon.png) no-repeat center 9px;
	border:0;
}
#site-searchform #searchsubmit:hover{
	float: left;
	width:50px;
	height:36px;
	cursor:pointer;
	text-indent:-5555em;
	line-height:100;
	overflow:hidden;
	background: #454545 url(../images/site-search-icon.png) no-repeat center 9px;
	border:0;
}

.sidebar_widget {
	float: left;
	width: 100%;
	padding: 0px 0px;
	margin: 0px;
}
.sidebar_widget ul.arrows_list1 li a:hover {
	color: #3da5b6;
}
.sidebar_widget h3 {
	display: block;
	margin-bottom: 18px;
	padding-bottom: 13px;
	color: #333;
	background: url(../images/sidebar-title-bg.png) no-repeat left bottom;
}

/* recent posts */
ul.recent_posts_list {
	margin: 0px;
	padding: 8px 0px 0px 0px;
	width: 100%;
	float: left;
}
.recent_posts_list li {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 13px 0px;
	list-style-type: none;
	border-bottom: 1px solid #f5f6f6;
	float: left;
	width: 100%;
}
.recent_posts_list li a {
	text-decoration: none;
	line-height: 16px;
	display: block;
	color: #727272;
}
.recent_posts_list li a:hover {
	color: #3da5b6;
}

.recent_posts_list li span {
	float: left;
	margin-right: 15px;
}
.recent_posts_list li span img {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}
.recent_posts_list li span img:hover {
	float: left;
	margin-right: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.recent_posts_list li i {
	padding: 1px 0px 0px 0px;
	margin: 0px;
	display: block;
	font-size: 10px;
	font-style: normal;
	color: #999;
}
.recent_posts_list li.last {
	padding: 0px 0px 7px 0px;
	margin: 0px 0px 0px 0px;
	border-bottom: 0px solid #f5f6f6;
}

/* Advertisements */
ul.adsbanner-list {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 100%;
}
.adsbanner-list li {
	margin: 0px 10px 10px 0px;
	padding: 0px;
	float: left;
	width: 105px;
	height: 105px;
	list-style-type: none;
}
.adsbanner-list li img {
	margin: 0px;
	padding: 0px;
	float: left;
	width: 105px;
	height: 105px;
	list-style-type: none;
}
.adsbanner-list li.last {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	float: left;
	width: 105px;
	height: 105px;
	list-style-type: none;
}

/* ----------- flickr ----------- */

#flickr_badge_wrapper img { width: 60px; height: 60px; margin-right: 9px; margin-bottom: 5px; border: 2px solid #454545 !important;}
#flickr_www {display:block; padding:0 10px 0 10px !important; font: 11px Arial, Helvetica, Sans serif !important; color:#3993ff !important;}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {text-decoration:none !important; background:inherit !important;color:#3993ff;}
#flickr_badge_wrapper { margin-top: 27px;}
#flickr_badge_source {padding:0 !important; font: 11px Arial, Helvetica, Sans serif !important; color:#666666 !important;}




/*------------------*/
/*	GLOBAL USE
/*------------------------------------------------------*/
.big_text1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 36px;
	line-height: 30px;
	color: #3da5b6;
	width: 100%;
	text-align: center;
}
.big_text1 i {
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	line-height: 18px;
	color: #727272;
	text-align: center;
}

.big_text2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	color: #999;
	width: 100%;
	text-align: left;
}
.big_text2 i {
	color: #3da5b6;
	font-style: normal;
}

a.knowmore_but {
	float: right;
	padding: 13px 20px 13px 20px;
	margin: 0px 0px 0px 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	background-color: #3da5b6;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid #cc7a00;
}
a.knowmore_but:hover {
	background-color: #59c4d5;
}

a.ordernow_but {
	padding: 9px 20px 9px 20px;
	margin: 10px 0px 0px 0px;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.4px;
	background-color: #3da5b6;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-bottom: 1px solid #454545;
}
a.ordernow_but:hover {
	background-color: #59c4d5;
}

.bg_colored_but01 {
	float: left;
	padding: 6px 16px;
	border-radius: 4px;
	background-color: #33c92b;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
}
.bg_colored_but01:hover {
	color: #fff;
	background-color: #454545;
}

ul.dot_list {
	float: left;
	padding: 0px;
	margin: 0px;
}
.dot_list li {
	padding: 0px 0px 0px 18px;
	margin: 0px;
	line-height: 27px;
	background: url(../images/dot.png) no-repeat left 10px;
}

.gray_bg_but {
	float: left;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #333;
	text-transform: uppercase;
	padding: 8px 18px;
	margin: 0px;
	border-radius: 3px;
	border: 1px solid #fff;
	background: #fff url(../images/gray-but-bg.png) repeat-x left bottom;
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}
.gray_bg_but:hover {
	color: #118a9e;
	border: 1px solid #fff;
	background: #fff;
}

ul.fullimage_box {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 48%;
}
.fullimage_box li {
	padding: 0px;
	margin: 0px;
}
.fullimage_box li img {
	border: 5px solid #f3f3f3;
	margin-bottom: 8px;
	width: 97%;
}
.fullimage_box li img:hover {
	border: 5px solid #e3e3e3;
}
ul.fullimage_box.last {
	float: left;
	width: 48%;
	margin-left: 4%;
}

ul.fullimage_box2 {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.fullimage_box2 li {
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.fullimage_box2 li img {
	margin-bottom: 8px;
}
ul.fullimage_box2.last {
	float: left;
	width: 100%;
	margin-left: 4%;
}

/* punchline text */
.punchline_text_box {
	float: left;
	width: 95.400%;
	padding: 20px;
	margin: 0px;
	border: 1px solid #eee;
	border-left: 5px solid #3da5b6;
	color: #999;
	background: #f9f9f9;
}
.punchline_text_box strong {
	font-size: 15px;
	color: #454545;
}
.punchline_text_box .left {
	float: left;
	width: 80%;
}
.punchline_text_box .right {
	float: left;
	width: 20%;
}

.punchline_text_box2 {
	float: left;
	width: 93%;
	padding: 20px;
	margin: 0px;
	border: 1px solid #eee;
	border-left: 5px solid #3da5b6;
	color: #999;
	background: #f9f9f9;
}
.punchline_text_box2 strong {
	font-size: 15px;
	color: #454545;
}
.punchline_text_box2 .left {
	float: left;
	width: 80%;
}
.punchline_text_box2 .right {
	float: left;
	width: 20%;
}

ul.arrows_list1 {
	float: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.arrows_list1 li {
	margin: 0px;
	padding: 0px 0px 7px 12px;
	list-style-type: none;
	color: #727272;
	background: url(../images/arrow-07.png) no-repeat left 8px;
}
.arrows_list1 li a {
	color: #727272;
}
.arrows_list1 li a:hover {
	color: #666;
}

a.but_goback,
a.but_ok_2,
a.but_wifi,
a.but_warning_sign,
a.but_user,
a.but_tag,
a.but_table,
a.but_star,
a.but_search,
a.but_phone,
a.but_pencil,
a.but_new_window,
a.but_music,
a.but_hand_right,
a.but_thumbs_down,
a.but_thumbs_up,
a.but_globe,
a.but_hospital,
a.but_coffe_cup,
a.but_settings,
a.but_chat,
a.but_play_button,
a.but_remove_2,
a.but_lock,
a.but_shopping_cart,
a.but_exclamation_mark,
a.but_info,
a.but_question_mark,
a.but_minus,
a.but_plus,
a.but_folder_open,
a.but_file,
a.but_envelope,
a.but_edit,
a.but_cogwheel,
a.but_check,
a.but_camera,
a.but_calendar,
a.but_bookmark,
a.but_book,
a.but_download,
a.but_pdf,
a.but_word_doc,
a.but_woman {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #fff;
	font-weight: 600;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

a.but_goback {
	padding: 13px 25px 13px 45px;
	margin: 0px 0px 0px 50px;
	background: #3da5b6 url(../images/arrow_left.png) no-repeat 18px 13px;
	border-bottom: 1px solid #cc7a00;
}
a.but_goback:hover {
	background-color: #59c4d5;
}

a.but_ok_2 {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #ff9900 url(../images/elements/ok_2.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_ok_2:hover {
	background-color: #ffb200;
}

a.but_wifi {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #0099cc url(../images/elements/wifi.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_wifi:hover {
	background-color: #00abde;
}

a.but_warning_sign {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #e5cc19 url(../images/elements/warning_sign.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_warning_sign:hover {
	background-color: #efda1b;
}

a.but_user {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #007f99 url(../images/elements/user.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_user:hover {
	background-color: #0090ad;
}

a.but_tag {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #e59919 url(../images/elements/tag.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_tag:hover {
	background-color: #efa61b;
}

a.but_table {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #4c6699 url(../images/elements/table.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_table:hover {
	background-color: #5674ad;
}

a.but_star {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #99cc4c url(../images/elements/star.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_star:hover {
	background-color: #a6da52;
}

a.but_search {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #66667f url(../images/elements/search.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_search:hover {
	background-color: #747490;
}

a.but_phone {
	padding: 10px 20px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #e56619 url(../images/elements/phone.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_phone:hover {
	background-color: #ef6f1b;
}

a.but_pencil {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #cc4c19 url(../images/elements/pencil.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_pencil:hover {
	background-color: #da521b;
}

a.but_new_window {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #001900 url(../images/elements/new_window.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_new_window:hover {
	background-color: #333333;
}

a.but_music {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #cccc7f url(../images/elements/music.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_music:hover {
	background-color: #dada8a;
}

a.but_hand_right {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #3da5b6 url(../images/elements/hand_right.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_hand_right:hover {
	background-color: #59c4d5;
}


a.but_thumbs_down {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #9999cc url(../images/elements/thumbs_down.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_thumbs_down:hover {
	background-color: #a6a6da;
}

a.but_thumbs_up {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #00cce5 url(../images/elements/thumbs_up.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_thumbs_up:hover {
	background-color: #00daef;
}

a.but_globe {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #669999 url(../images/elements/globe.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_globe:hover {
	background-color: #6fa6a6;
}

a.but_hospital {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #196666 url(../images/elements/hospital.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_hospital:hover {
	background-color: #1b6f6f;
}

a.but_coffe_cup {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #7f994c url(../images/elements/coffe_cup.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_coffe_cup:hover {
	background-color: #8aa652;
}

a.but_settings {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #997f4c url(../images/elements/settings.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_settings:hover {
	background-color: #a68a52;
}

a.but_chat {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #7f9919 url(../images/elements/chat.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_chat:hover {
	background-color: #8aa61b;
}

a.but_play_button {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #4c664c url(../images/elements/play_button.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_play_button:hover {
	background-color: #567456;
}

a.but_remove_2 {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #e59966 url(../images/elements/remove_2.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_remove_2:hover {
	background-color: #efa66f;
}

a.but_lock {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #994c19 url(../images/elements/lock.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_lock:hover {
	background-color: #a6521b;
}

a.but_shopping_cart {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #cc7f4c url(../images/elements/shopping_cart.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_shopping_cart:hover {
	background-color: #da8a52;
}

a.but_exclamation_mark {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #4c7f7f url(../images/elements/exclamation_mark.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_exclamation_mark:hover {
	background-color: #528a8a;
}

a.but_info {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #667fcc url(../images/elements/info.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_info:hover {
	background-color: #6f8ada;
}

a.but_question_mark {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #4c0019 url(../images/elements/question_mark.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_question_mark:hover {
	background-color: #620020;
}

a.but_minus {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #666666 url(../images/elements/minus.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_minus:hover {
	background-color: #747474;
}

a.but_plus {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #333333 url(../images/elements/plus.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_plus:hover {
	background-color: #444444;
}

a.but_folder_open {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #99cc99 url(../images/elements/folder_open.png) no-repeat 16px 14px;
	border-bottom: 1px solid #909090;
}
a.but_folder_open:hover {
	background-color: #a6daa6;
}

a.but_file {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #999999 url(../images/elements/file.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_file:hover {
	background-color: #a6a6a6;
}

a.but_envelope {
	padding: 10px 22px 10px 45px;
	margin: 0px 0px 0px 0px;
	background: #727272 url(../images/elements/envelope.png) no-repeat 16px 14px;
	border-bottom: 1px solid #909090;
}
a.but_envelope:hover {
	background-color: #7c7c7c;
}

a.but_edit {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #e5cc7f url(../images/elements/edit.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_edit:hover {
	background-color: #efda8a;
}

a.but_cogwheel {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #194c7f url(../images/elements/cogwheel.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_cogwheel:hover {
	background-color: #1e5c99;
}

a.but_check {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #004c4c url(../images/elements/check.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_check:hover {
	background-color: #005c5c;
}

a.but_camera {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #007fcc url(../images/elements/camera.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_camera:hover {
	background-color: #008ada;
}

a.but_calendar {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #4c99e5 url(../images/elements/calendar.png) no-repeat 16px 11px;
	border-bottom: 1px solid #909090;
}
a.but_calendar:hover {
	background-color: #52a6ef;
}

a.but_bookmark {
	padding: 10px 22px 10px 38px;
	margin: 0px 0px 0px 0px;
	background: #990000 url(../images/elements/bookmark.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_bookmark:hover {
	background-color: #b60000;
}

a.but_book {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #7f9999 url(../images/elements/book.png) no-repeat 16px 13px;
	border-bottom: 1px solid #909090;
}
a.but_book:hover {
	background-color: #8aa6a6;
}

a.but_download {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #ff9900 url(../images/elements/download.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_download:hover {
	background-color: #ffb200;
}

a.but_pdf {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #ff9900 url(../images/elements/pdf.png) no-repeat 13px 11px;
	border-bottom: 1px solid #909090;
}
a.but_pdf:hover {
	background-color: #ffb200;
}

a.but_word_doc {
	padding: 10px 22px 10px 40px;
	margin: 0px 0px 0px 0px;
	background: #ff9900 url(../images/elements/word_doc.png) no-repeat 13px 11px;
	border-bottom: 1px solid #909090;
}
a.but_word_doc:hover {
	background-color: #ffb200;
}


a.but_woman {
	padding: 10px 22px 10px 43px;
	margin: 0px 0px 0px 0px;
	background: #ff9900 url(../images/elements/woman.png) no-repeat 16px 12px;
	border-bottom: 1px solid #909090;
}
a.but_woman:hover {
	background-color: #ffb200;
}

/* dropcaps */
.dropcap1, .dropcap2, .dropcap3 {
	float: left;
	text-align: center;
	overflow:hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
.dropcap1 {
	width: 53px;
	height:	58px;
	line-height: 50px;
	background:url(../images/elements/dropcap_gray.png) no-repeat scroll 0px 0px transparent;
	color: #999;
	margin:0 8px -4px 0;
	font-size: 32px;
}
.dropcap1.gray {
	background-image:url(../images/elements/dropcap_gray.png);
}
.dropcap2 {
	background:url(../images/elements/dropcap_gray.png) no-repeat scroll 0 -108px transparent;
	color:#999;
	line-height: 47px;
	height: 56px;
	width: 53px;
	margin:0 8px -4px 0;
	font-size:32px;
}
.dropcap2.gray {
	background-image:url(../images/elements/dropcap_gray.png);
}
.dropcap3 {
	font-size:40px;
	line-height: 40px;
	width:44px;
	height:44px;
	margin:0 0 -4px 0;
}
.dropcap3.gray {
	color: #999;
}

/* styled lists */
ul.list1, ul.list2, ul.list3, ul.list4, ul.list5, ul.list6, ul.list7, ul.list8, ul.list9, ul.list10 {
	list-style-type:none;
	margin:0px 0px 25px 0px;
	padding: 0px;
	text-align: left;
}
ul.list1 li,ul.list2 li,ul.list3 li,ul.list4 li,ul.list5 li,ul.list6 li,ul.list7 li,ul.list8 li,ul.list9 li,ul.list10 li{
	padding-left: 18px;
	margin: 3px 0;
}
ul.list1 li {
	background:url(../images/elements/icon-heart.png) no-repeat left 5px;
}
ul.list2 li {
	background:url(../images/elements/icon-ok.png) no-repeat left 5px;
}
ul.list3 li {
	background:url(../images/elements/icon-right-arrow.png) no-repeat left 5px;
}
ul.list4 li {
	background:url(../images/elements/icon-star.png) no-repeat left 4px;
}
ul.list5 li {
	background:url(../images/elements/icon-chevron-right.png) no-repeat left 5px;
}
ul.list6 li {
	background:url(../images/elements/icon-chat.png) no-repeat left 5px;
}
ul.list7 li {
	background:url(../images/elements/icon-play-button.png) no-repeat left 5px;
}
ul.list8 li {
	background:url(../images/elements/icon-remove.png) no-repeat left 5px;
}
ul.list9 li {
	background:url(../images/elements/icon-cart.png) no-repeat left 5px;
}
ul.list10 li {
	background:url(../images/elements/icon-user.png) no-repeat left 4px;
}

/* highlight colors */
.highlight {
	color: #fff;
	padding: 2px 5px;
	background: #000;
	border-radius:3px;
}
.highlight.black {
	background: #000;
	border-radius:3px;
}
.highlight.red {
	background: #ff0000;
	border-radius:3px;
}
.highlight.gray {
	background: #aaa;
}
.highlight.yellow {
	background: #fff000;
}
.highlight.blue {
	background: #0099cc;
}
.highlight.pink {
	background: #e826b4;
}
.highlight.green {
	background: #48b02b;
}
.highlight.orange {
	background: #ffcc00;
}
.highlight.magenta {
	background: #9325ea;
}

/* buttons */
.button, button {	
    text-decoration:none;
	text-align:center;
	color:#585656;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height:32px;
	line-height:32px;
	padding:0px 15px;
	position:relative;
	outline: none;
	overflow: hidden; /* removes extra side padding in IE */
	cursor: pointer;
	border: 1px solid #dcdcdc;/* IE */
	border: rgba(0, 0, 0, .2) 1px solid;/* Saf4+, Chrome, FF3.6 */
	border-bottom:rgba(0, 0, 0, .4) 1px solid;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;

	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .1) 0%,
		rgba(0, 0, 0, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center top,
		center bottom,
		from(rgba(255, 255, 255, .1)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */
	
	background-color:white;
}

.button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}

.button:hover, .button.hover, .page-numbers:hover  {
	background: -moz-linear-gradient(
		center top,
		rgba(255, 255, 255, .2) 0%,
		rgba(255, 255, 255, .1) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .1)),
		to(rgba(255, 255, 255, .2))
	);/* Saf4+, Chrome */
}
.button:active, .button.active, .page-numbers:active {
	top:2px;
	background: -moz-linear-gradient(
		center top,
		rgba(0, 0, 0, .1) 0%,
		rgba(255, 255, 255, .2) 100%
	);/* FF3.6 */
	background: -webkit-gradient(
		linear,
		center bottom,
		center top,
		from(rgba(255, 255, 255, .2)),
		to(rgba(0, 0, 0, .1))
	);/* Saf4+, Chrome */

}

.button.full{
	display: block;
}

.button.small{
	font-size:13px;
}
.button.medium{
	font-size:13px;
	height:40px;
	line-height:40px;
}
.button.large{
	font-size:16px;
	height:50px;
	line-height:50px;
}
.button.small.colorchan{
	color: #fff;
	background-color: #3da5b6;
}

/* styled buttons */
.button.red {
	background-color: #ff0000;
	color: #fff;
}
.button.blue {
	background-color: #117ed1;
	color: #fff;
}
.button.lightblue {
	background-color: #0099cc;
	color: #fff;
}
.button.green {
	background-color: #009933;
	color: #fff;
}
.button.black {
	background-color: #333;
	color: #fff;
}
.button.orange {
	background-color: #FF9900;
	color: #fff;
}
.button.darkgray {
	background-color: #818181;
	color: #fff;
}
.button.gray {
	background-color: #f0f0f0;
	color: #000;
}

/* styled boxes */
.info, .error, .notice, .success {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: 1px solid #bbb;
	margin-bottom: 20px;
	font-size: 13px;
}
p.error {
	border: none;
}
.info strong, .error strong, .notice strong, .success strong {
	font-size: 16px;
}
.message-box-wrap {
	border: 0px solid #fff;
	padding:10px;
}
.info {
	color: #4a84bc;
	border-color: #c6e3ff;
	background-color: #e6f3ff;
}
.error {
	color: #bd6767;
	border-color: #f1bdbd;
	background-color: #ffdddd;
}
.notice {
	color: #a79a30;
	border-color: #d7d099;
	background-color: #f6f2d2;
}
.success {
	color: #1ea133;
	border-color: #a9ecb4;
	background-color: #dffbe4;
}
.close-but {
	width: 10px;
	height: 10px;
	float: right;
	border: none;
	margin: 5px;
	background: url(../images/elements/icon-remove.png) no-repeat center top;
}


/* tables */
.table-style {
	float: left;
	width: 100%;
}
.table-list {
	float: left;
	background-color: #fff;
	border: 1px solid #dddddd;
	margin-bottom:20px;
	width: 100%;
}
.table-list th {
	padding: 10px;
	background-color: #eee;
}
.table-list td {
	padding: 10px;
	text-align: center;
	background-color: #f5f5f5;
}
.table-list tr:hover td {
	background-color: #f9f9f9;
}

/* pricing tables */
.pricing-tables-main {
	position: relative;
	float: left;
	margin-bottom: 25px;
}
.pricing-tables {
	position: relative;
	float: left;
	width: 24%;
	border: 1px solid #eee;
}
.pricing-tables .title {
	float: left;
	width: 100%;
	height: 23px;
	padding: 12px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables .price {
	float: left;
	width: 100%;
	padding: 30px 0 20px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 18px;
}
.pricing-tables .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables .cont-list li.last {
	border: none;
}
.pricing-tables .ordernow {
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: #e3e3e3;
	text-align: center;
	color: #fff;
}

.pricing-tables-helight{
	position: relative;
	float: left;
	width: 27%;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight .title {
	float: left;
	width: 100%;
	height: 40px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #329cad;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #2895a6;
	border-bottom: 1px solid #53b3c3;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-helight .price {
	float: left;
	width: 100%;
	padding: 34px 0 20px 0;
	background-color: #3da5b6;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-helight .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
}
.pricing-tables-helight .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight .cont-list li.last {
	border: none;
}
.pricing-tables-helight .ordernow {
	float: left;
	width: 100%;
	padding: 20px 0 25px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}

.pricing-tables-two {
	position: relative;
	float: left;
	width: 33%;
	border: 1px solid #eee;
}
.pricing-tables-two .title {
	float: left;
	width: 100%;
	height: 27px;
	padding: 14px 0 10px 0;
	background-color: #454545;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #272727;
	border-bottom: 1px solid #818181;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-two .price {
	float: left;
	width: 100%;
	padding: 30px 0 20px 0;
	background-color: #636363;
	text-align: center;
	font-size: 40px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-two .price i {
	font-size: 14px;
	color: #ccc;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 20px;
}
.pricing-tables-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-two .cont-list li.last {
	border: none;
}
.pricing-tables-two .ordernow {
	float: left;
	width: 100%;
	padding: 15px 0;
	background-color: #e3e3e3;
	text-align: center;
	color: #fff;
}

.pricing-tables-helight-two{
	position: relative;
	float: left;
	width: 33%;
	z-index: 3;
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}
.pricing-tables-helight-two .title {
	float: left;
	width: 100%;
	height: 40px;
	padding: 20px 0 0 0;
	margin-top: -10px;
	background-color: #329cad;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border-top: 3px solid #2895a6;
	border-bottom: 1px solid #53b3c3;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-helight-two .price {
	float: left;
	width: 100%;
	padding: 35px 0 20px 0;
	background-color: #3da5b6;
	text-align: center;
	font-size: 45px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
}
.pricing-tables-helight-two .price i {
	font-size: 14px;
	color: #eee;
	display: block;
	font-weight: normal;
	font-style: normal;
	margin-top: 25px;
}
.pricing-tables-helight-two .cont-list {
	float: left;
	width: 100%;
	padding: 15px 0;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	background-color: #f9f9f9;
	text-align: center;
	color: #727272;
}
.pricing-tables-helight-two .cont-list ul {
	margin: 0;
	padding: 0;
}
.pricing-tables-helight-two .cont-list li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	line-height: 30px;
	border-bottom: 1px solid #fff;
}
.pricing-tables-helight-two .cont-list li.last {
	border: none;
}
.pricing-tables-helight-two .ordernow {
	float: left;
	width: 100%;
	padding: 20px 0 25px 0;
	background-color: #eee;
	text-align: center;
	color: #fff;
}


/* columns with box */
.framed-box {
	border: 1px solid #e3e3e3;
	width: 100%;
}
.framed-box.center{
	text-align:center;
}
.framed-box-wrap {
	border: 1px solid #fff;
	background-color: #f9f9f9;
}
.framed-box-wrap .pricing-title {
	background-color: #f1f1f1;
	padding: 20px 0px 0px 0px;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.framed-box-wrap .pricing-text-list {
	padding: 15px 20px 20px 20px;
	text-align: center;
}

/* 404 Error Page */
.error_pagenotfound {
	padding: 30px 30px 45px 30px;
	margin: 0 auto;
	width: 67%;
	background-color: #fafafa;
	border: 1px solid #eee;
	border-bottom: 5px solid #eee;
	text-align: center;
}
.error_pagenotfound strong {
	display: block;
	font-size: 145px;
	line-height: 100px;
	color: #e3e3e3;
}
.error_pagenotfound b {
	display: block;
	font-size: 40px;
	line-height: 40px;
	color: #eee;
	margin: 0;
}
.error_pagenotfound i {
	display: block;
	font-size: 18px;
	line-height: 50px;
	color: #999;
	margin: 0;
	font-style: normal;
}

/* testimonials */
.testimonials-5 {
	float: left;
}
.testimonials-5 span {
	float: left;
	line-height: 21px;
	margin-top: 15px;
	padding-left: 40px;
	background: url(../images/quote_subfix.gif) no-repeat left top;
}

.testimonials-4 {
	float: left;
}
.testimonials-4 img{
	float: left;
	margin: 5px 20px 5px 0;
}
.testimonials-4 span {
	float: left;
	height: 34px;
	width: 100%;
	padding: 0px;
	background: url(../images/testi-top-arrow.png) no-repeat 100px 5px;
	position: relative;
	z-index: 999;
	margin-bottom: -1px;
	margin-top: -15px;
}
.testimonials-4 .content {
	float: left;
	line-height: 21px;
	padding: 20px 20px 25px 20px;
	border: 1px solid #eee;
	background-color: #f9f9f9;
	border-radius: 5px;
}
.testimonials-4 .content i {
	font-size: 11px;
	color: #909090;
	text-transform: none;
}

.testimonials-2 {
	float: left;
}
.testimonials-2 span {
	float: left;
	line-height: 21px;
	padding: 20px 30px 20px 50px;
	border: 1px solid #eee;
	background: #f9f9f9 url(../images/quote_subfix.gif) no-repeat 15px 23px;
}

ul.sideimg_list {
	float: left;
	margin: 0px 40px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}
ul.sideimg_list img {
	float: left;
	display: block;
	margin-right: 18px;
}
.sideimg_list li {
	margin-right: 4%;
	padding: 5px 0px 0px 0px;
	list-style-type: none;
	float: left;
	width: 22%;
	text-align: left;
}
.sideimg_list li a {
	font-size: 14px;
	color: #3da5b6;
}
.sideimg_list li a:hover {
	font-size: 14px;
	color: #454545;
}
.sideimg_list li.last {
	margin: 0px 0px 0px 0px;
}



ul.list_empty {
	float: left;
	padding: 0px;
	margin: 0px;
	width: 100%;
}
.list_empty li {
	float: left;
	padding: 0px;
	margin: 0px 20px 35px 0px;
}


/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:55px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 999;
}








