<td width="49%" valign="top">
	<br />
	<div class="table">
    	<div class="cat">
        %NAME%
        </div>
        <div class="text">
        <table width="100%" border="0" cellspacing="2" cellpadding="0">
          <tr>
            <td><div class="subborder"><div class="sub">%DESCRIPTION%</div></div></td>
          </tr>
          <tr>
            <td align="right"><input name="order" id="order%ID%" type="button" value="Order" onclick="orderstepme('%ID%')" /></td>
          </tr>
        </table>
        </div>
    </div>
</td>