.lang_sprites { 
    background-image     : url(../language/language_flags.gif); 
    background-color     : transparent; 
    background-repeat    : no-repeat; 
    height               : 10px; 
    width                : 16px; 
 } 
 
.lang_ar { background-position  : -0px -0px;  } 
.lang_bg { background-position  : -16px -0px; } 
.lang_br { background-position  : -32px -0px; } 
.lang_ch { background-position  : -48px -0px; } 
.lang_cn { background-position  : -64px -0px; } 
.lang_ct { background-position  : -80px -0px; } 
.lang_cz { background-position  : -96px -0px; } 
.lang_da { background-position  : -112px -0px; }  
.lang_de { background-position  : -128px -0px; } 
.lang_ee { background-position  : -144px -0px; } 
.lang_en { background-position  : -160px -0px; } 
.lang_es { background-position  : -176px -0px; } 
.lang_fi { background-position  : -192px -0px; } 
.lang_fr { background-position  : -208px -0px; } 
.lang_gr { background-position  : -224px -0px; } 
.lang_hr { background-position  : -240px -0px; } 
.lang_hu { background-position  : -256px -0px; } 
.lang_it { background-position  : -272px -0px; } 
.lang_lv { background-position  : -288px -0px; } 
.lang_nl { background-position  : -304px -0px; }  
.lang_no { background-position  : -320px -0px; } 
.lang_pl { background-position  : -336px -0px; } 
.lang_ro { width: 15px; background-position  : -352px -0px; } 
.lang_ru { background-position  : -367px -0px; } 
.lang_se { background-position  : -383px -0px; } 
.lang_sk { background-position  : -399px -0px; } 
.lang_sl { background-position  : -415px -0px; } 
.lang_tr { background-position  : -431px -0px; } 
.lang_lt { background-position  : -447px -0px; } 
.lang_is { background-position  : -463px -0px; } 
.lang_tw { background-position  : -479px -0px; } 
/*
If you add a new flag simply add it tie the language_flags.gif and add a new entry here with a new offset of +16
*/