/*******************
  Copyright (c) 2004-2014 TinyWebGallery
  written by Michael Dempfle
  TWG version: 2.3.4
********************/

/* changes the colors an the size of the border - please edit if you want to change the color !!    
   check the my_style.css in the main folder for a complete template*/
body.twg{background-color:#222;color:#eeeeee;}
table.twg{color:#eeeeee;}
a:link{color:#eeeeee;text-decoration:none;}
a:visited{color:#eeeeee;text-decoration:none;}
a:hover{color:#eeeeee;text-decoration:none;}
td.sideframe{background-color:#222222;}
td.twg_info{border:1px solid #000000;background-color:#222222;}
td.bottomtable{background-color:#222222;}
td.bottomtableside{background-color:#222222;color:#999999;}
td.bottomtableside a:link{color:#999999;text-decoration:none;}
td.bottomtableside a:visited{color:#999999;text-decoration:none}
td.bottomtablesideleft{background-color:#222222;color:#999999;}
td.bottomtablesideleft a:link{color:#999999;text-decoration:none;}
td.bottomtablesideleft a:visited{color:#999999;text-decoration:none}
td.twg_bottom{background-color:#222222;color:#999999;}
td.twg_bottom a:link{color:#999999;text-decoration:none;}
td.twg_bottom a:visited{color:#999999;text-decoration:none}
td.twg_counterpixel{background-color:#222222;}
td.topnav{background-color:#222222;color:#eeeeee;}
td.topnav a:link{color:#eeeeee;text-decoration:none;}
td.topnav a:visited{color:#eeeeee;text-decoration:none}
td.topnav a:hover{color:#999999;text-decoration:none}
/* settings for the top left cell where the galleries -> ... ->  buttons are */
td.topnavleft{background-color:#222222;color:#eeeeee;}
td.topnavleft a:link{color:#eeeeee;text-decoration:none;}
td.topnavleft a:visited{color:#eeeeee;text-decoration:none}
td.topnavleft a:hover{color:#999999;text-decoration:none}
/* settings for the top right cell where the menu buttons are */
td.topnavright{background-color:#222222;color:#eeeeee;}
td.topnavright a:link{color:#eeeeee;text-decoration:none;}
td.topnavright a:visited{color:#eeeeee;text-decoration:none}
td.topnavright a:hover{color:#999999;text-decoration:none}
.twg_topx_selected{color:#ffffff;font-weight:bold;}
td.twg_bottom{background-color:#222222;}
td.twg_counterpixel{background-color:#222222;}
/* For the album tree */
.twg_album_view_div{background-color:#222222;}
.dtree div.dTreeNodenodeSel{color:#111111;background-color:#333333;}
.dtree div.dTreeNodenodeSel a:hover{color:#ffffff;text-decoration:none;}
.dtree div.dTreeNodehover a:link{color:#000000;}
.dtree div.dTreeNodehover a:visited{color:#000000;}
.dtree_header a:hover{color:#777777;}
.twg_hoverthumbnail{background-color:#aaaaaa;}
.twg_album_view{background-color:#222;}
#twg_content_div{border: 1px solid #000000;background-color:#444444;}