/*******************
  Copyright (c) 2004-2014 TinyWebGallery
  written by Michael Dempfle
  TWG version: 2.3.4
********************/

/* changes the colors an the size of the border - please edit if you want to change the color !!    
   check the my_style.css in the main folder for a complete template*/
body.twg{background-color:transparent;color:#000000;}
table.twg{background-color:transparent;color:#000000;}
td.sideframe{background-color:transparent;}
td.twg_info{border:none;border-top:2px solid;}
td.bottomtable{background-color:transparent;}
td.bottomtableside{background-color:transparent;}
td.bottomtablesideleft{background-color:transparent;}
td.twg_bottom{background-color:transparent;}
td.twg_counterpixel{background-color:transparent;}
td.topnav{background-color:transparent;color:#222;}
td.topnav a:link{color:#222;text-decoration:none;}
td.topnav a:visited{color:#222;text-decoration:none}
td.topnav a:hover{color:#22f;text-decoration:none}
/* settings for the top left cell where the galleries -> ... ->  buttons are */
td.topnavleft{background-color:transparent;color:#222;}
td.topnavleft a:link{color:#222;text-decoration:none;}
td.topnavleft a:visited{color:#222;text-decoration:none}
td.topnavleft a:hover{color:#22f;text-decoration:none}
/* settings for the top right cell where the menu buttons are */
td.topnavright{background-color:transparent;color:#222;}
td.topnavright a:link{color:#222;text-decoration:none;}
td.topnavright a:visited{color:#222;text-decoration:none}
td.topnavright a:hover{color:#22f;text-decoration:none}
/* the settings for the details image (border ...)   */
.twg_imageview{border:none;vertical-align:middle;text-align:center;margin:0px 0px 0px 0px;}
/* does the drop shadow  - if you want a different one:adapt this settings - image-view does still a nice boarder  */
div.twg_img-shadow table{display:block;position:relative;background-color:transparent;border:1px solid #000000;margin:0px 0px 0px 0px;}
div.twg_img-shadow{background:none !important;margin:0px 0px 0px 0px;}
a:link{color:#222;text-decoration:none;}
a:visited{color:#222;text-decoration:none}
a:hover{color:#22f;text-decoration:none}
#twg_content_div{border:none;}
#twg_content_div, td.twg_info, td.twg_counterpixel, td.twg_bottom { background-color: transparent; }