/*******************
 *  Copyright (c) 2004-2014 
 *   TinyWebGallery  written by Michael Dempfle  
 *   TWG version: 2.3.4
 ********************/
table.twg_folder_border img{-moz-box-shadow:4px 4px 2px #888;-webkit-box-shadow:4px 4px 2px #888;box-shadow:4px 4px 2px #888;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:5px;}
table.twg_folder_border img.folder-gif{-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;margin:5px;}
td.thumbnails img.img-thumbnail{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;-moz-box-shadow:3px 3px 3px #888;-webkit-box-shadow:3px 3px 3px #888;box-shadow:3px 3px 3px #888;}
td.twg_hoverThumbnail{border:none;background-color:transparent;}
td.twg_hoverThumbnail img.img-thumbnail{-moz-box-shadow:4px 4px 4px #666;-webkit-box-shadow:4px 4px 4px #666;box-shadow:4px 4px 4px #666;}
.img-thumbnail:hover{height:99%;width:99%;}
div.twg_img-shadow table{display:block;position:relative;background-color:transparent;border:0px solid #000000;margin:0px 0px 0px 0px;}
div.twg_img-shadow{background:none !important;margin:0px 0px 0px 0px;}
#defaultslide{border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;}
div.twg_img-shadow table.twg td.twg{border:none;}
div.twg_img-shadow table.twg{border:1px solid #aaa;-moz-box-shadow:4px 4px 4px #ccc;-webkit-box-shadow:4px 4px 4px #ccc;box-shadow:4px 4px 4px #ccc;border-radius:15px;-moz-border-radius:15px;-webkit-border-radius:15px;margin:10px;}
#defaultslide:hover{-moz-box-shadow:0px 0px 3px #999;-webkit-box-shadow:0px 0px 3px #999;box-shadow:0px 0px 3px #999;}
#trueContainer img, .navicon img, table.sidenavright img, table.sidenavleft img{border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}