/*******************
  Copyright (c) 2004-2014 TinyWebGallery
  written by Michael Dempfle
  TWG version: 2.3.4
********************/

/* this file is used when a skin defines some borders that should be different when no border is used. */
td.twg_info{border:none;border-top:2px solid;}
#twg_content_div{border:none;}
td.bottomtable{background-color:transparent;}
td.twg_bottom{background-color:transparent;}
td.twg_counterpixel{background-color:transparent;}
td.bottomtablesideleft{background-color:transparent;}
td.bottomtableside{background-color:transparent;}