/* changes the colors an the size of the border - please edit if you want to change the color !! 
   check the my_style.css in the main folder for a complete template
*/
body.twg {
	background-color: #DDFFDD;
}

table.twg {
	background-color: #DDFFDD;
}

td.sideframe {
   background-color: #008000;
}

td.twg_info {
	border: 2px inset;
}

td.bottomtable {
	background-color: #008000;
}

td.bottomtableside {
	background-color: #008000;
}

td.bottomtablesideleft {
  background-color: #008000;
}

td.topnav { 
  background-color: #008000; 
  color: #eeeeee;
}

td.topnav a:link { color:#eeeeee; text-decoration: none; }
td.topnav a:visited { color:#eeeeee; text-decoration:none }
td.topnav a:hover { color:#999999; text-decoration:none }

/* settings for the top left cell where the galleries -> ... ->  buttons are */
td.topnavleft {  
   background-color: #008000;
   color:#eeeeee;
}

td.topnavleft a:link { color:#eeeeee; text-decoration: none; }
td.topnavleft a:visited { color:#eeeeee; text-decoration:none }
td.topnavleft a:hover { color:#999999; text-decoration:none }


/* settings for the top right cell where the menu buttons are */
td.topnavright {
   background-color: #008000;
   color:#eeeeee;
}

td.topnavright a:link { color:#eeeeee; text-decoration: none; }
td.topnavright a:visited { color:#eeeeee; text-decoration:none }
td.topnavright a:hover { color:#999999; text-decoration:none }

td.bottomtable a:link { color:#eeeeee; text-decoration: none; }
td.bottomtable a:visited { color:#eeeeee; text-decoration:none }
td.bottomtable a:hover { color:#999999; text-decoration:none }

td.bottomtableside a:link { color:#eeeeee; text-decoration: none; }
td.bottomtableside a:visited { color:#eeeeee; text-decoration:none }
td.bottomtableside a:hover { color:#999999; text-decoration:none }

td.bottomtablesideleft {
 color:#eeeeee;
}





